.gallery{
    width: 100%;
    position: relative;

    .inner{
        width: 1180px;
        margin: 0 auto;
        
        .top{
            width: 100%;
            height: 150px;
            margin-bottom: 50px;

            .first{
                margin-bottom: 10px;
                border-bottom: 3px solid #111; 
                display: flex;
                justify-content: space-between;

                p{
                    font: bold 28px/1 'Overpass';
                    margin-bottom: 15px;
                }
                span{
                    font: bold 14px/1 'Overpass';
                    width: 50%;
                }
            }
            .second{
                display: flex;
                justify-content: space-between;
                p{

                    font:  30px/0.9 'Overpass';

                }
                span{
                    font: 15px/1.4 'Open Sans';
                    width: 50%;
                    color: #1f1f1f;
                    

                    
                }
            }
        }


        #gallery{
            width: 100%;
            position: relative;

            ul{
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                li{
                    width: 380px;
                    background: #d1ccbf;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    transition: 0.5s;
                    &:nth-of-type(3n){
                        margin-right: 0px;
                    }
                    
                    a{
                        display: block;
                        width: 100%;
                        height: 500px;
                        padding: 30px 70px;

                        img{
                            width: 100%;
                            height: 100%;
                            transform: scale(0.8);
                            border-top-left-radius: 50% 30%;
                            border-top-right-radius: 50% 30%;
                            transition: 0.5s;
                        }
                    }

                    &:hover{
                        a{
                            img{
                                transform: scale(0.9);
                            }
                        }
                    }

                    p{
                        font: bold 18px/1 'Open Sans';
                        color: orangered;
                        transform: rotate(90deg) translate(-54px,150px);

                    }

                    
                    
                    .profile{
                        padding: 10px;
                        img{
                            display: none;
                        }
                        span{
                            font: 15px/1 'Open Sans';
                            color: #fff;
                            text-align: right;
                            display: block;


                        }
                    }
                }
            }

            // ul{
            //     width: 100%;
            //     position: relative;
            //     &::after{
            //         content: '';
            //         display: block;
            //         clear: both;
            //     }
            //     li{
            //         float: left;
            //         padding: 10px;
            //         width: 33.333%;  
            //         height: 300px;
            //         position: relative;

            //         &:nth-of-type(1) {
            //             width: 66.6%;
            //             // position: absolute;
            //             // top: 0;
            //             // left: 0;
            //             img{
            //                 width: 100%;
            //                 height: 100%;
            //             }
            //         }
            //         &:nth-of-type(2){
            //             width: 33.3%;

            //         }

            //         &:nth-of-type(3){
            //             width: 33.3%;

            //             img{
            //                 width: 100%;
            //                 height: 100%;
            //             }
            //         }
            //         &:nth-of-type(4){
            //             height: 600px;
            //         }
            //         &:nth-of-type(6){
            //             height: 600px;
            //         }
            //         &:nth-of-type(7){
            //             position: absolute;
            //             top: 50%;
            //             left: 0;
            //         }
            //         &:nth-of-type(8){
            //             width: 66.6%;
            //             position: absolute;
            //             bottom: 0;
            //             left: 0;
            //         }


            //         img{
            //             width: 100%;
            //             height: 100%;
            //             filter: saturate(50%);

            //             &:hover{
            //                 filter: saturate(100%);
            //             }
                        
            //         }
            //         p{
            //             display: none;
            //         }


            //         .profile{
            //             display: none;
                        
            //         }
            //     }
            // }
        }
        
       
    }
}


@media screen and(max-width:1179px) {
    .gallery{
        width: 100%;
        position: relative;
        padding: 0px 30px;
    
        .inner{
            width: 100%;
    
            #gallery{
    
                ul{
                    gap: 1%;
    
                    li{
                        min-height: 200px;
                        flex-basis: 250px;
                        flex-grow: 1;
                        &:nth-of-type(3n){
                            margin-right: 20px;
                        }

                        p{
                            font: bold 17px/1 'Open Sans';
                            transform: none;
                            padding: 0px 10px;
                        }

                    }
                }
            }
        }
    }
    
}
