.gallery{
    width: 100%;
    position: relative;

    .inner{
        width: 1180px;
        margin: 0 auto;
        
        .top{
            width: 100%;
            height: 150px;
            margin-bottom: 75px;

            .first{
                margin-bottom: 10px;
                border-bottom: 3px solid #111; 
                display: flex;
                justify-content: space-between;

                p{
                    font: bold 28px/1 'Overpass';
                    margin-bottom: 15px;
                }
                span{
                    font: bold 14px/1 'Overpass';
                    width: 50%;
                }
            }
            .second{
                display: flex;
                justify-content: space-between;
                p{

                    font:  30px/0.9 'Overpass';

                }
                span{
                    font: 15px/1.4 'Open Sans';
                    width: 50%;
                    color: #1f1f1f;
                    

                    
                }
            }
        }


        #wrap{
            width: 100%;
            position: relative;

            .loading{
                width: 150px;
                height: 150px;
                position: absolute;
                top: 100px; 
                left: 50%; transform: translateX(-50%); transition: 0.5s;
                &.off{
                    opacity: 0;
                }
            }

            #list{
                width: 100%;
                height: 100%;
                &::after { content: ''; display: block; clear: both;}
                transition: 0.4s;

                .item{
                    width: 380px;
                    background: #d1ccbf;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    transition: 0.5s;
                    float: left;
                    
                    &:nth-of-type(3n){
                        margin-right: 0px;
                    }
                    
                    a{
                        display: block;
                        width: 100%;
                        height: 500px;
                        padding: 30px 70px;

                        img{
                            width: 100%;
                            height: 100%;
                            transform: scale(0.8);
                            border-top-left-radius: 50% 30%;
                            border-top-right-radius: 50% 30%;
                            transition: 0.5s;
                        }
                    }

                    &:hover{
                        a{
                            img{
                                transform: scale(0.9);
                            }
                        }
                    }

                    p{
                        font: bold 18px/1 'Open Sans';
                        color: orangered;
                        transform: rotate(90deg) translate(-54px,150px);

                    }

                    
                    
                    .profile{
                        padding: 10px;

                        span{
                            font: 15px/1 'Open Sans';
                            color: #fff;
                            text-align: right;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
>aside {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    display: block;
    box-sizing: border-box;
    padding: 80px;

    img {
        width: 100%; height: 100%;
        object-fit: contain; object-position: center;
    }
    span {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        cursor: pointer;
    }
}


@media screen and(max-width:1179px) {
    .gallery{
        width: 100%;
        position: relative;
        padding: 0px 30px;
    
        .inner{
            width: 100%;
    
            #wrap{
                
                .loading{
                    display: none;
                }
    
                #list{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1%;

                    .item{
                        min-height: 200px;
                        flex-basis: 250px;
                        flex-grow: 1;
                        &:nth-of-type(3n){
                            margin-right: 20px;
                        }

                        p{
                            font: bold 17px/1 'Open Sans';
                            transform: none;
                            padding: 0px 10px;
                        }

                    }
                }
            }
        }
    }
    
}
