@charset 'utf-8';

@import 'reset';

#header{
    width: 100%;

    .inner{
        width: 1180px;
        height: 100px;
        margin: 0 auto;
        position: relative;
        border-bottom: 1px solid #bbb;

        h1{
            position: absolute;
            left: 0;
            bottom: 0;
            a{
                font: bold 24px/1 'arial';
                color: #777;
            }
        }

        .menuWeb{
            ul{
                position: absolute;
                bottom: 0;
                right: 0;

                li{
                    display: inline-block;
                    margin-left: 20px;

                }
            }
        }
    }
}