@charset 'utf-8';

@import 'reset';
@import 'sub_layout';
@import 'department';
@import 'community';
@import 'join';
@import 'gallery';
@import 'location';
@import 'youtube';
@import 'result';

body{
    width: 100%; overflow-x:hidden ;
}



#header{
    width: 100%;
    position: relative;
    z-index: 2;

    .inner{
        width: 100%;
        height: 100px;
        margin: 0 auto;
        position: relative;
        

        >h1{
            position: absolute;
            left: 5%;
            top: 50%;
            transform: translateY(-50%);
            a{
                font: bold 24px/1  'Open Sans', sans-serif;
                color: #1F2120;
            }
        }

        .menuWeb{

            #gnb{
                position: absolute;
                top: 50%;
                right: 15%;
                transform: translateY(-50%);
                margin-right: 2%;

                >li{
                    display: inline-block;
                    margin-left: 28px;
                    padding: 35px 0;
                    

                    a{
                        font: 14px/1 'Roboto';
                        color: #1F2120;
                        
                    }
                    .sub{
                        width: 1180px;
                        height: 300px;
                        position: absolute;
                        top: 85px;
                        right: -20px;
                        background: #fff;
                        display: none;

                        &::before{
                            content: '';
                            display: none;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: -100%;
                            background: #fff;
                        }
                        &::after{
                            content: '';
                            display: none;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            right: -100%;
                            background: #fff;
                        }

                        .left{
                            width: 30%;
                            height: 100%;
                            float: left;
                            padding: 30px;
                            background: #f5f2ee;

                            h2{
                                font: bold 18px/1 'Roboto';
                                text-align: center;
                                padding: 20px 0;
                            }
                        }

                        .right{
                            width: 70%;
                            float: left;
                            padding: 30px 40px;
                            position: relative;
                        }    
                    }
                    &.m_depart{
                        .sub{
                            .right{
                                display: flex;

                                .sub_con1{
                                    width: 200px;
                                    height: 125px;
                                    padding: 10px 20px;

                                    
                                    h3 {
                                        font: bold 17px/1 'Open Sans';
                                        color: #555;
                                        text-align: left;
                                        padding: 10px 30px;
        
                                        &::after {
                                            display: block;
                                            content: '';
                                            border: 1px solid #949292;
                                            margin-top: 10px;
                                        }
                                    }
                                    ul {
                                        li {
                                            text-align: left;
                                            padding: 5px 30px;
        
                                            a {
                                                font: 14px/1 'Open Sans';
                                                color: #333;
                                                transition: 0.5s;
                                            }
                                        }
                                    }
                                }
                                .sub_con2 {
                                    width: 200px;
                                    height: 100%;
                                    padding: 10px 20px;
                                    margin-right: 15px;

        
                                    h3 {
                                        font: bold 17px/1 'Open Sans';
                                        color: #555;
                                        text-align: left;
                                        padding: 10px 30px;
        
                                        &::after {
                                            display: block;
                                            content: '';
                                            border: 1px solid #949292;
                                            margin-top: 10px;
                                        }
                                    }
        
                                    ul {
                                        li {
                                            text-align: left;
                                            padding: 5px 30px;
        
                                            a {
                                                font: 14px/1 'Open Sans';
                                                color: #333;
                                                transition: 0.5s;
        
                                            }
                                        }
                                    }
                                }
        
                                .sub_con3 {
                                    width: 200px;
                                    height: 100%;
                                    padding: 10px 20px;
                                    
        
                                    img{
                                        width: 300px;
                                        height: 220px;
                                        padding: 30px 0;
                                    }
        
                                    
                                }
                            }
                        }
                        
                    }
                    &.m_youtube{
                        .sub{
                            
                            .right{
                                display: flex;

                                .sub_con1{
                                    width: 600px;
                                    padding: 20px 30px;
                                    border-right: 1px solid #bbb;
                                    img{
                                        width: 550px;
                                        height: 200px;
                                    }
                                }
                                .sub_con2{
                                    width: auto;
                                    padding: 20px 30px;

                                    h3{
                                        margin-bottom: 10px;
                                        font: bold 17px/1 'Open Sans';
                                        &::after {
                                            display: block;
                                            content: '';
                                            border: 1px solid #949292;
                                            margin-top: 10px;
                                        }
                                    }
                                    ul {
                                        li {
                                            text-align: left;
                                            padding: 5px 0;
                                            box-sizing: border-box;
        
                                            a {
                                                font: 14px/1 'Open Sans';
                                                color: #333;
                                                transition: 0.5s;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                    &.m_community{
                        .sub{
                            .right{
                                display: flex;
                                
                                .sub_con1{
                                    display: flex;
                                    width: 60%;
                                    margin-right: 4%;
                                    padding: 20px 0;
                                    article{
                                        margin-right: 40px;
                                        p{
                                            font: 15px/1 'Open Sans';
                                            margin-bottom: 10px;
                                        }
                                        span{
                                            font: 13px/1.4 'Open Sans';
                                        }

                                    }
                                }
                                .sub_con2{
                                    ul {
                                        
                                        li {
                                            text-align: left;
                                            padding: 5px 0;
                                            float: left;
                                            
                                            
                                            a {
                                                font: bold 14px/1 'Open Sans';
                                                color: #333;
                                                transition: 0.5s;
                                                margin-bottom: 10px;
                                                display: block;
                                                margin-right: 50px;
                                            }
                                        }
                                    }
                                    .pic{
                                        img{
                                            width: 400px;
                                            height: 150px;
                                        }
                                    }

                                }
                                
                            }
                        }
                    }
                    &.m_gallery{
                        .sub{
                            .right{
                                display: flex;

                                .sub_con1{
                                    width: 400px;
                                    padding: 20px 30px;
                                    border-right: 1px solid #bbb;

                                    h3{
                                        margin-bottom: 10px;
                                        font: bold 17px/1 'Open Sans';

                                        &::after {
                                            display: block;
                                            content: '';
                                            width: 80px;
                                            height: 2px;
                                            background: #949292;
                                            margin-top: 10px;
                                        }
                                    }
                                    ul {
                                        li {
                                            text-align: left;
                                            padding: 5px 0;
                                            box-sizing: border-box;
        
                                            a {
                                                font: 14px/1 'Open Sans';
                                                color: #333;
                                                transition: 0.5s;
                                            }
                                        }
                                    }
                                    
                                }
                                .sub_con2{

                                    width: auto;
                                    padding: 20px 50px;
                                    
                                    img{
                                        width: 450px;
                                        height: 200px;
                                    }
                                    
                                }
                            }
                        }
                        
                    }
                    &.m_location{
                        .sub{
                            .right{
                                position: relative;
                                .top{
                                    
                                    h3{
                                        font: 25px/1 'EB Garamond';
                                        color: #434343;
                                        margin-bottom: 20px; 
                                        text-align: center;
                                        padding-left: 180px;
                                    }
                                }
                                .sub_con2{
                                    position: absolute;
                                    left: 220px;
                                    top: 70%;
                                    article{
                                        width: 160px;
                                        height: 150px;
                                        margin: 10px 15px;
                                        float: left;
                                        padding: 10px;
    
                                        >p{
                                            margin-bottom: 10px;
    
                                            &::after {
                                                display: block;
                                                content: '';
                                                border: 1px solid #bbb;
                                                margin-top: 10px;
                                            }
                                            a{
                                                font: bold 16px/1 'Open Sans';
                                            }
                                        }
                                        span{
                                            font: 13px/1.3 'Open Sans';
                                            color: #434343;
                                        }
                                        strong{
                                            font: 13px/1.3 'Open Sans';
                                            color: #434343;
                                            margin-top: 10px;
                                        }
                                    }
                                }

                                
                                .pic{
                                    position: absolute;
                                    top: 0;
                                    left: 10px;
                                    img{
                                        width: 200px;
                                        height: 300px;
                                        filter: saturate(60%);
                                    }
                                }
                            }
                        }   
                        
                    }
                    

                }
            }

            .util{
                position: absolute;
                top: 50%;
                right: 5%;
                transform: translateY(-50%);

                &::after{
                    content: '';
                    display: block;
                    clear: both;
                }

                li{
                    float: left;
                    margin-right: 30px;

                    &:hover{
                        &:nth-of-type(3) a{
                            font: bold 14px/1 'Roboto';
                        }
                    }

                    a{
                        color: #1F2120;
                        transition: 0.3s ease-in-out;
                        font: 14px/1 'Roboto';
                        
                    }

                    
                }
            }

        }

        .btnCall{
            position:absolute; 
            top:50%; 
            right:30px; 
            transform:translateY(-50%);
            width:20px; 
            height:20px; 
            display:none;  

            &::before{
                content:''; 
                display:block; 
                width:100%; 
                height:2px; 
                background:#000; 
                position:absolute; 
                top:0; 
                left:0; 
                transform:rotate(0deg); 
                transition:top 0.5s 0s, transform 0.5s 0.5s; 
            }
            &::after{
                content:''; 
                display:block; 
                width:100%; 
                height:2px; 
                background:#000; 
                position:absolute; 
                bottom:0; 
                left:0; 
                transform:rotate(0deg); 
                transition:bottom 0.5s 0s, transform 0.5s 0.5s; 
            }
            span{
                display:block; 
                width:100%; 
                height:2px; 
                background:#000; 
                text-indent:-9999px; 
                position:absolute; 
                top:50%; 
                margin-top:-1px; 
                left:0; 
                transition:0.5s; 
            }

            &.on{
                &::before{ 
                    transform:rotate(45deg);
                    top:50%; 
                    margin-top:-1px; 
                }
                &::after{ 
                    transform:rotate(-45deg); 
                    bottom:50%; 
                    margin-bottom:-1px; 
                }
                span{ 
                    transform:translateX(100%); opacity:0;  
                }
            }
        }

        .menuMo{
            position:fixed; 
            top:0; 
            left:-300px; 
            width:300px; 
            height:100vh; 
            background:#333; 
            transition:0.5s; 
            padding:35px 30px; 
            box-sizing:border-box; 
            z-index:10; 

            >h1{
                border-bottom:1px solid #666; 
                padding-bottom:30px; 
                a{
                    display:block; 
                    font:bold 24px/1 'arial'; 
                    color:#fff; 
                    text-align:center; 
                }
                
            }

            #gnbMo{
                li{
                    a{
                        display:block; 
                        width:100%; 
                        padding:20px 0; 
                        border-bottom:1px solid #444; 
                        font:bold 14px/1 'arial'; 
                        color:#888; 
                        text-align:center; 
                    }
                }
            }
            &.on{
                left:0; 
            }
        }
    }
}

#navi{
    position: fixed;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 8;
    li{
        margin: 20px 0;
        a{
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background: #b1b0b0;
            transition: 0.5s;

            &.on{
                background: #fdbe8a;
                height: 25px;
                border-radius: 3px;
            }
        }
    }
}

#visual {
	width: 90%;
	height: calc(100vh - 100px);
	background: #eee9e9;
	display: flex;
	margin: 0 auto;
    

	section {
		width: 100%;
		height: 100%;
		padding-top: 5vh;
		display: flex;
		position: relative;
		z-index: 1; //

		article {
			flex: 1;
			padding: 70px 40px 100px;
			position: relative;
			opacity: 0.6;
			z-index: 1; //
			transition: opacity 1s, flex 1s; 	
			cursor: -webkit-grab;			

			&::before {
				content: "";
				display: block;
				width: 80%;
				height: 95%;
				position: absolute;
				background: #4f4b69;
				top: 0px;
				left: -200px;
				opacity: 0;
				transition: 1s;
			}

			.inner {
				width: 100%;
				height: 100%;
				display: flex;
				flex-wrap: wrap;
				align-content: space-between;
				position: relative;

				.txt {
					width: 90%;
					transition: 0.5s;


					h2 {
						font: bold 2vw/1 'Open Sans', sans-serif;
						color: #fff;
						margin-bottom: 40px;
						padding-top: 70px;
						transition: 1s;

						&::after {
							content: "";
							display: block;
							width: 40px;
							height: 3px;
							background: #777;
							margin-top: 10px;
							transition: 1.5s;
						}
					}

                    img{
                        
                        width: 90%;
                        height: 25vh;
                        
                    }
					h3{
                        font: bold 25px/1 'Open Sans', sans-serif;
                        color: #504e4e;
                        margin-bottom: 30px;
                        padding-top: 30px;
                        transition: 1s;
                    }

					p {
						font: 14px/1.4 'Open Sans', sans-serif;;
						color: #999;
						z-index: 3;
						

						&::after {
							content: "";
							display: block;
							
							transition: 1.5s;
							position: absolute;
						}
					}
				}

				
			}

			&:hover {
				flex: 1.5;
				opacity: 1;
				z-index: 2; 
				color: lightcoral;

				&::before {
					left: 0px;
					opacity: 1;
				}
				

				.inner {
					.txt {
						width: 75%;
						
						h2 {
							font-size: 5vw;
							padding-top: 0px;

							&::after {
								width: 100px;
								background: lightblue;
							}

						}
                        h3{
                            color: lightsalmon;
                        }

					}

					
				}
				
			}
		}
	}

	
	
}

/* box1*/
#box1{
width: 100%;
padding: 200px 0;

    .inner{
        width: 1180px;
        margin: 0 auto;

        .wrap{
        width: 100%;
        height: 500px;
        display: flex;

        .txt{
            width: 40%;
            padding: 150px 0px;
            margin-right: 20px;
            h1{
            font: 34px/1 'Overpass', sans-serif;
            color: #050505;
            margin-bottom: 30px;

            &::before{
                content: '';
                width: 100px;
                height: 2px;
                display: block;
                background: #5a5a5a;
                margin-bottom: 20px;
            }
            }


            p{
            font: 18px/1.4 'Overpass', sans-serif;
            color: #949292;
            margin-bottom: 40px;
            }

            a{
            display: block;
            width: 150px;
            height: 40px;
            font: 16px/40px 'Overpass', sans-serif;
            color: #333;
            
            background-color: #e7ded3;
            text-align: center;
            }
        }

        .pic{
            width: 60%;
            img{
            width: 100%;
            height: 500px;
            object-fit: cover;
            }
        }
        }
    }
}

/* brand */

#brand {
width: 100%;
padding: 150px 0px;
background-color: #f5f2ee;

// background-color: #f8faec;

    .inner {
        width: 1180px;
        margin: 0 auto;
        

        h1 {
        font: bold 24px/1 'Overpass', sans-serif;
        color: #444;
        margin-bottom: 40px;
        

        &::after{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: #444;
            margin-top: 10px;
        }
        } 
        
        .wrap {
        width: 100%;
        display: flex;
        

        .pic{
            width: 49%;
            height: 320px;
            margin-right: 5%;
            padding: 0px 20px;
            img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            }
        }

        .txt{
            width: 49%;
            position: relative;

            >h2{
            font: bold 21px/1 'Overpass', sans-serif;
            color: #444;
            margin-bottom: 40px;
            }
            >p{
            font: 17px/1.2 'Overpass', sans-serif;
            color: #555;
            margin-bottom: 30px;
            }
            >a{
            display: block;
            width: 180px;
            height: 30px;
            font: bold 16px/30px 'Overpass', sans-serif;
            color: #333;
            position: relative;
            transition: all 0.5s ease;

            &::before{
                content: '';
                display: inline-block;
                width: 46px;
                height: 46px;
                border: 1px solid #000;
                border-radius: 50%;
                position: absolute;
                right: -105px;
                top: -10px;
                transition: all 0.5s ease;
            }

            
            &::after{
                content: '';
                display: inline-block;
                width: 60px;
                height: 7px;
                background: url(../img/btn_arrow.png) no-repeat center/cover;
                background-size: cover;
                position: absolute;
                right: -70px;
                top:10px;
                transition: all 0.5s ease;
            }

            &:hover{

                &::before{
                transform:scale(1.1);
                }
                &::after{
                transform:translate(10px,0);
                }
            }
            }
            

        }

        }
    }
}

/* read */

#read {
    width: 100%;
    padding: 150px 0;
    .inner {
        width: 1180px;
        margin: 0 auto;

        h1{
            font: bold 30px/1 'Overpass', sans-serif;
            color: #050505;
            text-align: center;
            margin-bottom: 20px;
        }

        >p{
            font: 18px/1 'Overpass', sans-serif;
            color: #212121;
            text-align: center;
            margin-bottom: 40px;

        }
    
        .wrap {
            width: 100%;
    
            article {
            float: left;
            position: relative;
            object-fit: cover;
            margin-bottom: 20px;
            width: 380px;
            margin-right: 20px;
    
            &:nth-of-type(3) {
                margin-right: 0;
            }

            .pic{
                overflow: hidden;
                img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin-bottom: 20px;
                transition: 0.5s;

                &:hover{
                    transform: scale(1.05);

                }
                }
            }
            h2{
                font: 14px/1 'Overpass', sans-serif;
                color: #898989;
                margin-bottom: 20px;
            }

            h3{
                font: 18px/1 'Overpass', sans-serif;
                color: #212121;
                margin-bottom: 20px;
            }

            >p{
                font: 16px/1 'Overpass', sans-serif;
                color: #7a7a7a;
                margin-bottom: 40px;
            }
            
            a{
                display: block;
                width: 120px;
                height: 30px;
                font: 15px/30px 'Overpass', sans-serif;
                color: #212121;
                
                
                i{
                margin-left: 6px;
                vertical-align: middle;
                }

                &:hover {
                color: #84babd;

                }
            }
    
            
            }
        }
    }
}

/* banner */

#banner {
    width: 100%;
    padding: 150px 0;
    background: url(../img/c5.jpg) no-repeat top/cover fixed;

    .inner {
        width: 1180px;
        margin: 0 auto;
        text-align: center;

        h1 {
            font: bold 30px/1 'Open Sans';
            color: #fff;
            margin-bottom: 20px;
        }

        p {
            font: 20px/1 'Open Sans';
            color: #fff;
        }
    }
}

 /* commnet */

#comment {
    width: 100%;
    padding: 150px 0;

    .inner {
        width: 1180px;
        margin: 0 auto;

        .wrap{
            display: flex;

            .left{
            width: 58%;
            position: relative;
            margin-right:3%;

            &::after{
                content: '';
                display: block;
                clear: both;
            }
                
                h1 {
                font: bold 20px/1 'Overpass', sans-serif;
                color: #444;
                margin-bottom: 30px;
                &::after{
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: #444;
                    color: #444;
                    display: block;
                    margin-top: 10px;
                }
                }
                >a{
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 16px;
                color: #444;
    
                }

                article{
                width: 33.3%;
                height: 100px;
                margin-bottom: 20px;
                float: left;
                transition: 0.5s;
                &:hover{
                    a{
                    color: #f7c738;
                    }
                }

                h2{
                    font: bold 18px/1 'Overpass', sans-serif;
                    color: #555;
                    margin-bottom: 10px;
                }

                p{
                    font: 16px/1.4 'Overpass', sans-serif;
                    color: #555;
                    margin-bottom: 20px;
                }
                a{
                    display: block;
                    width: 100px;
                    height: 30px;
                    font: 14px/30px 'Overpass', sans-serif;
                    color: #a1a1a1;
                }
                }

            }
            .right{
            width: 39%;

            h1{
                font: bold 20px/1 'Overpass', sans-serif;
                color: #444;
                margin-bottom: 20px;
                &::after{
                content: '';
                width: 100%;
                height: 1px;
                background-color: #444;
                color: #444;
                display: block;
                margin-top: 10px;
                }
            }

            article{
                margin-bottom: 30px;
                margin-right: 55px;
                transition: 0.5s;

                &:hover{
                transform: scale(0.9);
                }

                >h2{
                font: 15px/1 'Overpass', sans-serif;
                color: #444;
                margin-bottom: 5px;
                }
                >p{
                font: bold 16px/1.3 'Overpass', sans-serif;
                color: #666;
                margin-bottom: 10px;
                
                }

            }
            }
        }
    
    }
}

#footer{
    width: 100%;
    padding: 60px 80px;
    border-top: 1px solid #e1e1e1;

    .inner{
        width: 100%;
        margin: 0 auto;


        >h1{
            font: bold 22px/1 'Overpass', sans-serif;
            color: #222222;
            margin-bottom: 20px;
            display: none;

        }

        .wrap{
            width: 100%;

            .top{
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 20px;
                padding: 0px 40px 5px;

                h2{
                    font: bold 14px/1 'Overpass', sans-serif;
                    color: #999999;
                    margin-bottom: 20px;
                }

                p{
                    font: 12px/1.5 'Overpass', sans-serif;
                    color: #999999;
                    letter-spacing: 1px;
                }

                .text1{
                    font: 14px/1.6 'Overpass', 'Noto Sans KR';
                    color: #434343e6;
                    letter-spacing: 1px;
                    margin-bottom: 30px;
                }

                .text2{
                    font: 13px/1.6 'Noto Sans KR';
                    color: #434343e6;

                    span{
                        &:nth-of-type(1){
                            display: block;
                        }
                    }
                }

                .first{
                    width: 33.333%;
                    border-right: 1px solid #e1e1e1;
                    padding-right: 10px;
                    
                    ul{
                        margin-bottom: 60px;
                        li{
                            display: inline-block;
                            border-right: 1px solid #e1e1e1;

                            &:last-child {
                                border-right: 0px;
                            }

                            a{
                                font: 12px/1 'Noto Sans KR';
                                color: #444;
                                margin-right: 10px;
                                
                            }
                        }
                    }

                    

                    
                }

                .middle{
                    width: 33.333%;
                    border-right: 1px solid #e1e1e1;
                    padding: 10px 0;

                    h1{
                        text-align: center;
                        font: bold 30px/1 'Open Sans';
                        color: #434343;
                    }
                }

                .last{

                    width: 33.333%;
                    padding-left: 20px;
                    

                    h2{
                        font: bold 28px/1 'Overpass';
                        color: #434343;
                        margin-bottom: 60px;
                    }

                    .box{
                        min-height: 100px;
                        margin-top: 30px;
                        

                        span{
                            width: 250px;
                            padding: 3px 10px;
                            margin-bottom: 5px;
                            display: inline-block;
                            border-bottom: 1px solid #999;

                            a{
                                display: block;
                                font: bold 15px/1 'arial';
                                color: #555;

                                &::after{
                                    float: right;
                                    content: '>';
                                }
                            }

                        
                        }

                        ul{
                            display: none;
                            position: absolute;
                            top: 36px;
                            width: 100%;

                            &:hover{
                                display: block;

                            }

                            


                            
                        }
                    }
                }
            }
            

            .bottom{
                text-align: center;
                font: 13px/1 'Overpass';
                color: #646464;

        
            }
        }
        
    }
}

#popup{
    width: 400px; background: #d1ccbf;
    height: 250px;
    padding: 40px;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    z-index: 7;

    .content{
        
        width: 100%; height: 150px;
        padding: 20px 0;
        img{
            width: 50px;
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        h1{
            font: bold 18px/1 'Open Sasn';
            text-align: center;
        }
        
    }
    .wrap{
        float: left;
        label{
            font: bold 13px/1 'Open Sans';
            color: #111; margin-left: 4px;
        }
    }
    .close{
        float: right;
        font: 14px/1 'Open Sans';
        color: #434343;
        transition: 0.5s;

        &:hover{
            border-bottom: 1px solid #111;
        }
        
    }
}

/*tablet*/ 
@media screen and (max-width:1179px){
    #header{   
        .inner{
            >h1{
                position: absolute;
                left: 5%;
                top: 50%;
                transform: translateY(-50%);
                >a{
                    font: bold 24px/1  'Open Sans', sans-serif;
                    color: #1F2120;
                }
            }
    
            .menuWeb{
                display: none;
            }
    
            .btnCall{
                display: block;
            }
        }
    }


    /* box1*/
    #box1{
        padding: 150px 50px;
        
        .inner{
            width: 100%;
    
            .wrap{
        
                .txt{
                    width: 50%;
                    padding: 100px 0px;

                    h1{
                        font: 34px/1 'Overpass';
                    }
        
        
                    p{
                        font: 16px/1.4 'Overpass';
                        margin-right: 10px;
                    }
        
                    a{
                        width: 140px;
                        height: 35px;
                        font: bold 13px/35px 'Overpass';
                    }
                }
        
                .pic{
                    width: 50%;
                    img{
                        height: 300px;
                        margin-top: 100px;
                    }
                }
            }
        }
    }

    /* brand */

    #brand {
        padding: 150px 40px;

        .inner {
            width: 100%;     
    
            h1 {
                font: bold 23px/1 'Overpass';
            } 
            
            .wrap {
                .txt{
                    >h2{
                        font: bold 19px/1 'Overpass';
                        margin-top: 10px;
                    }
                    >p{
                        font: 15px/1.4 'Overpass';
                        margin-bottom: 30px;
                    }
                    >a{
                        font: bold 15px/30px 'Overpass';

                        &::before{
                            right: -90px;
                        }
                        
                        &::after{
                            right: -60px;
                        }
                    }
                }
            }
        }
    }




    /* read */

    #read {
        width: 100%;
        padding: 150px 20px;
        .inner {
            width: 100%;

            h1{
                font: bold 28px/1 'Overpass';
            }

            >p{
                font: 16px/1 'Overpass';
            }
        
            .wrap {
        
                article {
                    width: 31.3%;
                    margin-right: 10px;

                    .pic{
                        margin-bottom: 10px;
                    }

                    h2{
                        font: 14px/1 'Overpass';
                    }

                    h3{
                        font: bold 16px/1 'Overpass';
                    }

                    >p{
                        font: 14px/1.23 'Overpass';
                    }
                    
                    a{
                        font: 14px/30px 'Overpass';
                    }
                }
            }
        }
    }

    /* banner */

    #banner {
        padding: 150px 40px;
        .inner {
            width: 100%;

            h1 {
                font: bold 25px/1 'Open Sans';
                margin-bottom: 30px;
            }

            p {
                font: 17px/1.4 'Open Sans';
            }
        }
    }

     /* commnet */

    #comment {
        padding: 150px 20px;

        .inner {
            width: 100%;

            .wrap{
                display: flex;
                flex-wrap: wrap;

                .left{
                    width: 50%;
                    margin-right:4%;

                    h1 {
                        font: bold 18px/1 'Overpass';
                        margin-bottom: 40px;
                    }

                    article{
                        width: 49%;
                        margin-bottom: 50px;
                        h2{
                            font: bold 17px/1 'Overpass';
                        }

                        p{
                            font: 15px/1.4 'Overpass';
                        }
                        a{
                            font: 13px/30px 'Overpass';
                        }
                    }

                }
                .right{
                    width: 45%;

                    h1{
                        font: bold 18px/1 'Overpass';
                        margin-bottom: 40px;
                    }

                    article{
                        margin-right: 5px;
                        transition: 0.5s;

                        &:hover{
                            transform: scale(1);
                        }

                        >p{
                            font: bold 15px/1.5 'Overpass';
                            margin-top: 15px;
                        }
                    }
                }
            }
        
        }
    }

    #footer{
        padding: 60px 40px;    
        .inner{
    
            >h1{
                display: block;
                margin-bottom: 35px;
            }
            .wrap{
                .top{
    
                    .first{
                        width: 49%;
                        margin-right: 2%;
                    }
    
                    .middle{
                        display: none;
                    }
    
                    .last{
                        width: 49%;
    
                        .box{
                        
                            span{
                                width: 220px;
                            }
    
                        }
                    }
                }
                
                .bottom{
                    margin-top: 30px;
                }
            }
            
        }
    }

}


/*mobile*/
@media screen and (max-width:539px){

    #visual {
        width: 100%;
        background: url(../img/pic4.jpg) no-repeat center/cover;
        
    
        section {
            display: none;
            }
        }
    
        
        
    

    /* brand */

    #brand {
        padding: 120px 30px;

        .inner { 
            h1 {
                font: bold 21px/1 'Overpass';
            } 
            
            .wrap {
                flex-wrap: wrap;
                .pic{
                    width: 100%;
                    margin: 0;
                    padding: 0;
                }
                .txt{
                    width: 100%;
                    text-align: center;
                    >h2{
                        font: bold 19px/1.2 'Overpass';
                        margin-bottom: 20px;
                        margin-top: 20px;
                    }
                    >p{
                        font: 15px/1.5 'Overpass';
                        margin-bottom: 30px;
                    }
                    >a{
                        font: bold 15px/30px 'Overpass';
                        text-align: center;
                        display: inline-block;
                        transform: scale(1);
                        transition: 0.3s ease-in-out;

                        &::before{
                            display: none;
                        }
                        
                        &::after{
                            display: none;
                        }

                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
    /* commnet */

    #comment {
        
        padding: 140px 40px;
        
        .inner {

            .wrap{

                .left{
                    width: 100%;
                    margin-right:0%;

                    h1 {
                        font: bold 18px/1 'Overpass';
                        margin-bottom: 30px;
                    }

                    article{
                        width: 100%;
                        margin-bottom: 10px;
                        h2{
                            font: bold 16px/1 'Overpass';
                        }

                        p{
                            font: 15px/1 'Overpass';
                            margin-bottom: 10px;
                        }
                    }

                }
                .right{
                    width: 100%;

                    article{
                        margin-right: 5px;
                    }
                }
            }
        
        }
    }

    #footer{
        padding: 60px 25px;    
        .inner{
    
            >h1{
                display: block;
                margin-bottom: 35px;
            }
            .wrap{
                .top{
    
                    .first{
                        width: 100%;
                        margin-right: 0%;
                        border-right: none;

                        .text1,.text2{
                            display: none;
                        }
                    }
    
                    .middle{
                        display: none;
                    }
    
                    .last{
                        width: 100%;
                        padding: 0;
                        h2{
                            font: bold 20px/1 'Overpass';
                            margin-bottom: 20px;
                        }
    
                        .box{
                            min-height: 50px;
                        
                            span{
                                width: 200px;
                            }
    
                        }
                    }
                }
                
                .bottom{
                    margin-top: 0px;
                }
            }
            
        }
    }

}
