@charset 'utf-8';

@import 'reset';

#header{
    width: 100%;

    .inner{
        width: 1180px;
        height: 100px;
        margin: 0 auto;
        position: relative;
        margin-bottom: 10px;
        

        h1{
            position: absolute;
            left: 0;
            bottom: 0;
            a{
                font: bold 24px/1  'Open Sans', sans-serif;
                color: #1F2120;
            }
        }

        .menuWeb{
            
            #gnb{
                position: absolute;
                bottom: 0;
                right: 20%;
            

                li{
                    display: inline-block;
                    margin-left: 40px;
                    display: inline-block;
                    

                    a{
                        font: 14px/1 'Overpass', sans-serif;
                        color: #1F2120;
                        
                    }

                }
            }

            .util{
                position: absolute;
                bottom: 0;
                right: 0;
                &::after{
                    content: '';
                    display: block;
                    clear: both;
                }

                li{
                    float: left;
                    margin-right: 30px;
                    &:hover{

                        &:nth-of-type(1) a{
                            color: red;
                        }
                        &:nth-of-type(2) a{
                            background-color: black;
                            color: white;

                        }
                        &:nth-of-type(3) a{
                            color: lightskyblue;
                        }
                    }

                    a{
                        color: #1F2120;

                        
                    }

                    
                }
            }

        }
    }
}

#visual{
    width: 100%;
    height: calc(100vh - 90px);
    background: lightcyan;
}


#footer{
    width: 100%;
    padding: 80px 0px;
    .inner{
        width: 1180px;
        margin: 0 auto;

        .wrap{
            width: 100%;
            

            .bottom{
                text-align: center;
            }
        }
        
    }
}